.container{
  padding: 0!important;
}

.navbar-dark .navbar-toggler {
    color: hsla(0,0%,100%,.5)!important;
    border-color: hsla(0,0%,100%,.1)!important;
}

@media(min-width: 992px) {
  
  .container {
    max-width: 960px;
  }
  .navbar-expand-lg .navbar-toggler {
    display:none; 
  }
}